html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-family: tahoma;
    margin: 0;
    background-color: #1b1b1b;
}

.menu {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
}

.menu li {
    list-style-type: none;
    background-color: gold;
    padding: .7em;
    border: 2px solid #1b1b1b;
    flex-grow: 1;
    text-align: center;
}

li a {
    text-decoration: none;
    color: white;
    display: block;
    padding: 1em;
}

a span {
    display: block;
    font-size: 2em;
}