/* piblic attributes */

* {
    box-sizing: border-box;
}

body {
    background-color: #1e8bc3;
    color: white;
}

.main {
    width: 100%;
    column-count: 4;
}


/* all border & style around */

.border {
    border: 5px solid whitesmoke;
    border-radius: 10px;
    width: 100%;
    padding: 20px;
}


/* wide boxes style */

.b-wide {
    width: 100%;
    height: fit-content;
}


/* 'flip' box style in column-count 2 */

.b-wide-flip {
    width: 100%;
    height: 14vw;
}


/* design 3 boxes in column-count 2 */

.about-culster {
    display: flex;
    margin-top: 6px;
}


/* design 3 boxes as flex mode for 2 columns in row 2 */

.flex-auto {
    flex: auto;
}


/* outside place of elements */

.grid-outside {
    margin: 0px;
    padding: 4px;
}


/* images style */

.img-style {
    width: 100%;
    height: 15vw;
    border-radius: 10px;
}