html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    background-color: #1d1d1d;
    font-family: tahoma;
}

.frm {
    max-width: 30em;
    margin: 0 auto;
}

.frm-inputs {
    display: flex;
    flex-direction: row-reverse;
    margin: 1em 0;
    border: 2px solid #127721;
    border-radius: 5px;
}

.lbls {
    background-color: #127721;
    line-height: 2.3em;
    padding: 0 1em;
}

.input {
    width: 100%;
    padding: 1em;
    border: none;
    flex-grow: 1;
    border-radius: 2px;
}

.btn {
    padding: 0 1em;
    background-color: #127721;
    border: none;
}