html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: cursive;
    line-height: 1.7em;
    color: lawngreen;
    background-color: #1d1d1d;
}

.app-layout {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.header {
    background-color: #147;
    display: flex;
    justify-content: space-between;
    padding: .7em 0;
}

.button {
    color: #147;
    background-color: lawngreen;
    border: none;
    padding: 1em 1.3em;
    border-radius: 3px;
    margin: 0 1em;
}

.content {
    flex-grow: 1;
    padding: 0 1.5em;
    overflow: auto;
}

.nav {
    margin: 0;
    padding: 0;
    display: flex;
}

.nav-link {
    list-style-type: none;
    flex-grow: 1;
    background-color: #147;
    border-right: 2px solid #1d1d1d;
}

.nav-link:last-child {
    border: none;
}

.nav-links {
    display: block;
    text-decoration: none;
    text-align: center;
    padding: .5em;
    color: lawngreen;
    font-size: 1.7em;
}