.container {
    display: flex;
}

.item:nth-child(1) {
    background: #ed6743;
}

.item:nth-child(2) {
    background: #ed6743;
}

.item:nth-child(3) {
    background: #feec00;
}

.item:nth-child(4) {
    background: #98c008;
}

.item:nth-child(5) {
    background: #00a7eb;
}

.item:nth-child(6) {
    background: #3b2780;
}

.item:nth-child(7) {
    background: #e9e3d6;
}

.item:nth-child(8) {
    background: #ffc64a;
}

.item:nth-child(9) {
    background: #a9bb6e;
}

.item:nth-child(10) {
    background: #84d0ce;
}