        html {
            box-sizing: border-box;
        }
        
        *,
        *::before,
        *::after {
            box-sizing: inherit;
        }
        
        body {
            margin: 0;
            padding: 0;
        }
        
        .container {
            border: 3px solid #1d1d1d;
            border-style: dotted;
            display: flex;
            flex-wrap: wrap;
        }
        
        .container div:nth-child(1) {
            background-color: #127;
            border: 2px solid blue;
            flex-grow: 1;
        }
        
        .container div:nth-child(2) {
            background-color: #e43;
            border: 2px solid orange;
            flex-basis: 20em;
            flex-grow: 9999;
        }
        
        .container div:nth-child(2) p {
            margin: 0;
        }