.container {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
}

.wide {
    position: relative;
    background-color: red;
    width: 300px;
    height: 120px;
    margin: 5px;
}

.box {
    position: relative;
    background-color: blue;
    width: 145px;
    height: 120px;
    margin: 5px;
}

a.wide,
.box {
    text-decoration: none;
    color: white;
}

.wide h4,
.box h4 {
    position: absolute;
    left: 12px;
    bottom: -12px;
}

.blue {
    background-color: #1E90FF;
}