/* set public attribute */

body {
    background-color: #0f6d39;
}

h2 {
    color: white;
}

.container {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
}

a:hover {
    transform: scale(1.05);
    transition: transform 0.2s;
}


/* icon position for wide boxes */

.container>a>i {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}


/* icon position for square boxes */


/* all of wide boxes */

.wide {
    position: relative;
    width: 300px;
    height: 120px;
    margin: 5px;
}


/*  all of square boxes  */

.box {
    position: relative;
    background-color: blue;
    width: 145px;
    height: 120px;
    margin: 5px;
}


/* a tag and titles position attributes */

a.wide,
.box {
    text-decoration: none;
    color: white;
}

.wide h4,
.box h4 {
    position: absolute;
    left: 12px;
    bottom: -12px;
}


/* set colors */

.blue {
    background-color: #1E90FF;
}

.orange {
    background-color: #e76022;
}

.redgay {
    background-color: #DA312E;
}

.lime {
    background-color: #61b812
}

.bluefish {
    background-color: #02b9e3;
}

.yellow {
    background-color: #dbb701;
}